extends layout

block content
  p.flex.gap-3.items-end
    span.text-2xl.font-bold Total recebido:
    span.text-xl= receita

  p.flex.gap-3.items-end
    span.text-2xl.font-bold Total pago:
    span.text-xl= despesa
