extends layout

block content
  .flex.justify-between.mb-2
    h1.font-bold.text-2xl.mb-2 Movimentos
    a.bg-blue-500.text-white.py-2.px-4.rounded.shadow.hover_bg-blue-600.transition-all.duration-200(href='/movimentos/novo') Novo

  table.w-full
    thead
      tr
        th.px-4.py-2.border.border-gray-400.bg-gray-100 Descrição
        th.px-4.py-2.border.border-gray-400.bg-gray-100 Valor
        th.px-4.py-2.border.border-gray-400.bg-gray-100 Data
    tbody
      each movimento in movimentos
        tr
          td.px-4.py-2.border.border-gray-400= movimento.descricao
          td.px-4.py-2.border.border-gray-400= movimento.valor
          td.px-4.py-2.border.border-gray-400= movimento.data
